{# BrandcodeNL/SonataPublisherBundle/Resources/views/CRUD/list__action_publish.html.twig #}

<a href="{{ admin.generateObjectUrl('publish', object) }}" class="btn btn-sm btn-default delete_link" title="Verwijderen">
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    {{'publish' | trans }}
</a>