{# BrandcodeNL/SonataPublisherBundle/Resources/views/CRUD/list__action_publish.html.twig #}

<a href="{{ admin.generateObjectUrl('publish', object) }}" class="btn btn-sm btn-default delete_link" title="Publish">
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    {{'publish' | trans }} &nbsp;
    {% set count = object | isPublished %}
    {% if count > 0 %}
        <i class="fa fa-check success" style="color:green"></i>
    {%else%}
    <small class="label pull-right">&nbsp;</small>
    {% endif %}
</a>